<nav class="navbar navbar-expand-sm navbar-light text-white bg-info border-bottom box-shadow mb-3 fixed-top">

    <a class="navbar-brand text-warning" href="">GecoCoge</a>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <NavLink class="nav-link text-white" href="Geco">
                <span class="oi oi-plus" aria-hidden="true"></span> Geco
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link text-white" href="Coge">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Coge
            </NavLink>
        </li>
    </ul>

</nav>
@code {

}
